@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1 {
  font-size: 2rem;
  margin: 1rem 0;
} */

/* .chord {
  cursor: pointer;
  font-weight: bold;
  color: rgb(39, 38, 38);
}
.lyrics {
  color: rgb(97, 97, 97);
} */
