* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

h1 {
 
  text-align: center;
}

h2 {
  text-align: center;
  color:gray;
}

.chord-sheet {
  /* Add margins to the entire chord sheet */
  margin-top: 40px;
}