.searchBar {
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #e3ebf1;
    font-size: 16px;
    color: #999;
    outline: none;
}

.searchBar::placeholder {
    color: #999;
}

.searchBar:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}